/* animation pulse */

@keyframes blink {
    0%, 100%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0 0 0 7px rgba(59,130,246,0);
    }
}

.pulse {
    animation: blink 2s ease-in-out infinite;
}